.register-container {
  display: flex;
  height: 100vh;
    width: 100%;

}

.register-sidebar {
  width: 100%;
  background: linear-gradient(to top, #121212, #6B35B0, #9747FF);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 10px;
}

.register-sidebar h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.register-sidebar p {
  font-size: 1.125rem;
}

.register-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.register-form {
  width: 100%;
  max-width: 28rem;
}

.register-form h2 {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.btn-primary {
  width: 100%;
 background: linear-gradient( #6B35B0, #9747FF);
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  margin-top: 1.5rem;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
 background: linear-gradient( #6B35B0, #9747FF);
  opacity: 0.8;}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1rem;
}

.font-bold {
  font-weight: bold;
}
p{
  color:white
}
.hover\:underline:hover {
  text-decoration: underline;
}
